{% extends 'gestion_peluqueria/base.html' %}
{% load static %}
{% block titulo %}Tienda{% endblock %}

{% block content %}

<section class="contenedor-tienda ">
    <h1 class="titulo-tienda">Nuestros Productos</h1>



    <div class="contenedor-items">
        {% for producto in productos %}
        <div class="item">
            <span class="titulo-item">{{ producto.nombre }}</span>
            <img src="{{producto.imagen.url}}" alt="imagen-producto" class="img-item">
            <span class="precio-item">${{ producto.precio }}</span>
            <form action="{% url 'agregar_al_carrito' producto.id %}" method="post" >
                {% csrf_token %}
                <button type="submit" class="boton-item" >Agregar al Carrito</button>
            
                
            </form>
        </div>
        {% endfor %}
    </div>


</section>

{% endblock %}



